# Ambiente virtual
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de sistema / editor
.vscode/
.DS_Store
Thumbs.db

# Saídas do projeto
data/output/

# Logs e temporários
*.log
*.tmp